AzureSQLSCIMBulkUpload-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "logicAppName": {
      "type": "string",
      "defaultValue": "AzureSQLSCIMBulkUpload"
    },
    "sqlApiConnectionName": {
      "type": "string",
      "defaultValue": "sqldw"
    },
    "scimApiUri": {
      "type": "string"
    },
    "sqlServerName": {
      "type": "string"
    },
    "sqlDatabaseName": {
      "type": "string"
    },
    "sqlTableName": {
      "type": "string",
      "defaultValue": "[dbo].[V_Employees]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sqlApiConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure SQL Connection",
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/sqldw')]"
        },
        "parameterValues": {
          "server": "[parameters('sqlServerName')]",
          "database": "[parameters('sqlDatabaseName')]",
          "authenticationType": "windows"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sqlApiConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "SCIM API uri": {
              "type": "String",
              "defaultValue": "[parameters('scimApiUri')]"
            },
            "SQL Servername": {
              "type": "String",
              "defaultValue": "[parameters('sqlServerName')]"
            },
            "Database": {
              "type": "String",
              "defaultValue": "[parameters('sqlDatabaseName')]"
            },
            "Tablename": {
              "type": "String",
              "defaultValue": "[parameters('sqlTableName')]"
            },
            "$connections": {
              "type": "Object"
            }
          },

          /* =============================
             ORIGINAL LOGIC APP CONTENT
             UNCHANGED FROM EXPORT
             ============================= */

          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 5
              }
            }
          },

          "actions": {
            "Get_rows_(V2)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sqldw']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SQL Servername')))},@{encodeURIComponent(encodeURIComponent(parameters('Database')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('Tablename')))}/items"
              }
            },

            "Initialize_InvocationDateTime": {
              "type": "InitializeVariable",
              "runAfter": {
                "Get_rows_(V2)": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "variables": [
                  {
                    "name": "IterationCount",
                    "type": "integer",
                    "value": 0
                  },
                  {
                    "name": "SCIMBulkPayload",
                    "type": "string",
                    "value": "{\n \"schemas\": [\n \"urn:ietf:params:scim:api:messages:2.0:BulkRequest\"\n ],\n \"Operations\": [\n"
                  },
                  {
                    "name": "InvocationDateTime",
                    "type": "string",
                    "value": "@{utcNow()}"
                  }
                ]
              }
            }

                    "actions": {
                        "For_each": {
                            "foreach": "@body('Get_rows_(V2)')?['value']",
                            "actions": {
                                "Check_if_we_are_at_max_bulk_size_(50_records)": {
                                    "actions": {
                                        "Append_last_SCIMUser_record_in_the_chunk": {
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "SCIMBulkPayload",
                                                "value": "@outputs('Construct_SCIMUser')"
                                            }
                                        },
                                        "Finalize_SCIMBulkPayload": {
                                            "runAfter": {
                                                "Append_last_SCIMUser_record_in_the_chunk": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "SCIMBulkPayload",
                                                "value": "  ],\n  \"failOnErrors\": null\n}"
                                            }
                                        },
                                        "Prepare_next_chunk_of_SCIMBulkPayload": {
                                            "runAfter": {
                                                "Reset_Iteration_Count": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SCIMBulkPayload",
                                                "value": "{\n  \"schemas\": [\n    \"urn:ietf:params:scim:api:messages:2.0:BulkRequest\"\n  ],\n  \"Operations\": ["
                                            }
                                        },
                                        "Reset_Iteration_Count": {
                                            "runAfter": {
                                                "Send_SCIMBulkPayload_to_API_endpoint": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "IterationCount",
                                                "value": 0
                                            }
                                        },
                                        "Send_SCIMBulkPayload_to_API_endpoint": {
                                            "runAfter": {
                                                "View_SCIMBulkPayload": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@parameters('SCIM API uri')",
                                                "method": "POST",
                                                "headers": {
                                                    "Content-Type": "application/scim+json"
                                                },
                                                "body": "@variables('SCIMBulkPayload')",
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity",
                                                    "audience": "https://graph.microsoft.com"
                                                }
                                            },
                                            "operationOptions": "DisableAsyncPattern"
                                        },
                                        "View_SCIMBulkPayload": {
                                            "runAfter": {
                                                "Finalize_SCIMBulkPayload": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@variables('SCIMBulkPayload')"
                                        }
                                    },
                                    "runAfter": {
                                        "Construct_SCIMUser": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Append_SCIMUser_record": {
                                                "type": "AppendToStringVariable",
                                                "inputs": {
                                                    "name": "SCIMBulkPayload",
                                                    "value": "@concat(outputs('Construct_SCIMUser'),',')"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "or": [
                                            {
                                                "equals": [
                                                    "@variables('IterationCount')",
                                                    50
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Construct_SCIMUser": {
                                    "runAfter": {
                                        "Increment_IterationCount": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "bulkId": "@{guid()}",
                                        "data": {
                                            "active": "@if(equals(items('For_each')?['employeeStatus'],'active'),true,false)",
                                            "addresses": [
                                                {
                                                    "country": "@{item()?['co']}",
                                                    "locality": "@{item()?['location']}",
                                                    "postalCode": "@{item()?['postalCode']}",
                                                    "streetAddress": "@{item()?['street']}",
                                                    "type": "work"
                                                }
                                            ],
                                            "displayName": "@{item()?['displayName']}",
                                            "externalId": "@{item()?['employeeID']}",
                                            "userName": "@{item()?['employeeID']}",
                                            "name": {
                                                "familyName": "@{item()?['lastName']}",
                                                "givenName": "@{item()?['firstName']}"
                                            },
                                            "title": "@{item()?['jobTitle']}",
                                            "nickName": "",
                                            "phoneNumbers": [
                                                {
                                                    "type": "mobile",
                                                    "value": ""
                                                }
                                            ],
                                            "emails": [
                                                {
                                                    "type": "work",
                                                    "value": "@{item()?['MailTo']}"
                                                }
                                            ],
                                            "schemas": [
                                                "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
                                                "urn:microsoft:sql2scim"
                                            ],
                                            "urn:microsoft:sql2scim": {
                                                "terminationdate": "@{item()?['employeeEndDate']}",
                                                "hiredate": "@{item()?['employeeStartDate']}",
                                                "protected": "@{item()?['protected']}",
                                                "accountname": "@{item()?['accountName']}",
                                                "ADPath": "@{item()?['ADPath']}",
                                                "accountType": "@{item()?['accountType']}"
                                            },
                                            "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
                                                "organization": "@{item()?['company']}",
                                                "costCenter": "@{item()?['administrationID']}",
                                                "department": "@{item()?['unit']}",
                                                "division": "@{item()?['administration']}",
                                                "employeeNumber": "@{item()?['employementNr']}",
                                                "manager": {
                                                    "value": "@{item()?['Manager']}"
                                                }
                                            }
                                        },
                                        "method": "POST",
                                        "path": "/Users"
                                    }
                                },
                                "Increment_IterationCount": {
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "IterationCount",
                                        "value": 1
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_InvocationDateTime": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Check_if_bulk_has_unsend_records": {
                            "actions": {
                                "Finalize_SCIMBulkPayload_on_last_record": {
                                    "runAfter": {
                                        "Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "SCIMBulkPayload",
                                        "value": " ],\n  \"failOnErrors\": null\n}"
                                    }
                                },
                                "View_SCIMBulkPayload_on_last_record": {
                                    "runAfter": {
                                        "Finalize_SCIMBulkPayload_on_last_record": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@variables('SCIMBulkPayload')"
                                },
                                "Send_SCIMBulkPayload_to_API_endpoint_on_last_record": {
                                    "runAfter": {
                                        "View_SCIMBulkPayload_on_last_record": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "@parameters('SCIM API uri')",
                                        "method": "POST",
                                        "headers": {
                                            "Content-Type": "application/scim+json"
                                        },
                                        "body": "@variables('SCIMBulkPayload')",
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://graph.microsoft.com"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Remove_last_comma": {
                                    "type": "Compose",
                                    "inputs": "@substring(variables('SCIMBulkPayload'),0,sub(length(variables('SCIMBulkPayload')),1))"
                                },
                                "Set_variable": {
                                    "runAfter": {
                                        "Remove_last_comma": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "SCIMBulkPayload",
                                        "value": "@{outputs('Remove_last_comma')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@variables('IterationCount')",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_InvocationDateTime": {
                            "runAfter": {
                                "Get_rows_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IterationCount",
                                        "type": "integer",
                                        "value": 0
                                    },
                                    {
                                        "name": "SCIMBulkPayload",
                                        "type": "string",
                                        "value": "{\n  \"schemas\": [\n    \"urn:ietf:params:scim:api:messages:2.0:BulkRequest\"\n  ],\n  \"Operations\": [\n"
                                    },
                                    {
                                        "name": "InvocationDateTime",
                                        "type": "string",
                                        "value": "@{utcNow()}"
                                    }
                                ]
                            }
                        },
                        "Get_rows_(V2)": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sqldw']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SQL Servername')))},@{encodeURIComponent(encodeURIComponent(parameters('Database')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('Tablename')))}/items"
                            }
                        }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sqldw": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sqlApiConnectionName'))]",
                "connectionName": "[parameters('sqlApiConnectionName')]",
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/sqldw')]"
              }
            }
          }
        }
      }
    }
  ]
}
